﻿<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h3>Add</h3>
            <form action="#" name="form-category">
                <input type="hidden" name="id" id="eid" />
                <div class="form-group">
                    <label for="email">Name</label>
                    <input type="text" class="form-control" id="name" name="name">
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" id="status">Status</label>
                </div>
                <button type="button" class="btn btn-primary btn-add">Thêm</button>
                <button type="button" class="btn btn-primary btn-update hidden">Cập nhật</button>
            </form>
        </div>
        <div class="col-md-6">
            <h3>List</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody id="lst">
                    <tr></tr>
                </tbody>
            </table>
            <ul class="pagination">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <h3>Search</h3>
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-10">
                        <input class="form-control" type="text" name="search" id="search" placeholder="Nhập tên cần tìm" />
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-sm btn-primary" onclick="searchName();" type="button">Tìm</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

@section scripts {
    <script>
        //import { get } from "jquery";
        function GetData(name = null) {
            $.ajax({
                type: "GET",
                url: "https://localhost:44335/api/category/getall",
                dataType: "json",
                data: {
                    Name: name
                },
                success: function (result) {
                    let html = "";
                    result.forEach((e, i) => {
                        html += `   <tr>
                                            <td>${e.Id}</td>
                                            <td>${e.Name}</td>
                                            <td>${e.Status ? 'True' : 'False'}</td>
                                            <td><button type="button" class="btn btn-success btn-edit" onclick="editCategory({Id:${e.Id},Name:'${e.Name}',Status:${e.Status}});">Sửa</button> <button type="button" class="btn btn-danger btn-dele" onclick="deleCategory(${e.Id});">Xoá</button></td>
                                        </tr>`
                    });
                    $('#lst').html(html);
                }

            })
        }
        function addCategory() {
            var c = {
                Name: $("#name").val(),
                Status: $("#status").is(':checked')
            }
            $.ajax({
                type: 'POST',
                url: 'https://localhost:44335/api/Categories',
                data: c,
                success: function (rs) {
                    console.log(rs);
                    clearForm();
                    GetData();
                }

            });
        }
        function deleCategory(id) {
            $.ajax({
                type: 'DELETE',
                url: 'https://localhost:44335/api/Categories/' + id,
                success: function (rs) {
                    console.log(rs);
                    GetData();
                }

            });
        }

        function editCategory(c) {
            $('#eid').val(c.Id);
            $('#name').val(c.Name);
            $('#status').prop('checked', c.Status);
            resetF();
        }

        function updateCategory() {
            let c = {
                Id: $("#eid").val(),
                Name: $("#name").val(), 
                Status: $("#status").is(':checked')
            }
            $.ajax({
                type: 'PUT',
                url: 'https://localhost:44335/api/category/update',
                data: c,
                success: function (rs) {
                    console.log(rs);
                    clearForm();
                    resetF();
                    GetData();
                }

            });
        }

        function resetF() {
            $('.btn-add').toggleClass('hidden');
            $('.btn-update').toggleClass('hidden');
        }

        $(function () {
            GetData();
            $(".btn-add").click(function () {
                addCategory();
            });
            $(".btn-update").click(function () {
                updateCategory();
            });
            //editCategory();
        })
        function clearForm() {
            document.forms['form-category'].reset();
        }
        function searchName() {
            GetData($('#search').val());
        }
    </script>

}